* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

.nav_inteira{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.minha_navbar {
    width: 100%;
    height: 80px;
    background: #dff4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.menu_direito {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu {
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: #0d6efd;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -12px;
    background: rgb(179, 244, 255);
    min-width: 130px;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content a{
    display: block;
    padding: 12px;
    color: black;
}

.dropdown-content a:hover{
    background:
    rgba(0,217,255,0.12);

    padding-left:22px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icone {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    cursor: pointer;
}

.icone a {
    color: rgb(255, 160, 105);
}

/*MINI NAVBAR*/

.mini_nav {
    width: 100%;
    height: 30px;
    background: rgb(179, 244, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_mini {
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: 18px;
}

.menu_mini a {
    text-decoration: none;
    color: black;
}

.menu_mini a:hover{
    color: #0d6efd;
}

/*PESQUISA*/

.container-pesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form_pesquisa {
    margin-top: 100px;
    width: 60%;
    height: 50px;
    display: flex;
    background: white;
    border: 2px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(192, 246, 255);
}

.form_pesquisa input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
}

.form_pesquisa button {
    width: 30px;
    margin-right: 10px;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.form_pesquisa i {
    font-size: 18px;
    color: rgb(123, 235, 255);
}

/*FILTRO*/

.filtros{
    width:90%;
    margin:30px auto;
    display:flex;
    align-items:end;
    gap:20px;
    flex-wrap:wrap;
    background:#dff4ff;
    padding:20px;
    border-radius:15px;
}

.filtro{
    display:flex;
    flex-direction:column;
}

.filtro label{
    margin-bottom:8px;
    font-weight:bold;
}

.filtro select,
.filtro input{
    width:180px;
    height:42px;
    border:1px solid #ccc;
    border-radius:8px;
    padding:0 10px;
}

.btn-filtrar{
    height:42px;
    padding:0 25px;
    border:none;
    border-radius:8px;
    background:#ff9d5c;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.btn-filtrar:hover{
    background:#ff8735;
}

/*CARDS*/

.lista-babas{
    width:90%;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.card-baba{
    display:flex;
    align-items:center;
    gap:20px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.card-baba img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

.dados{
    flex:1;
}

.dados h3{
    margin-bottom:10px;
}

.dados p{
    margin-bottom:6px;
}

.acoes button{
    border:none;
    background:#ff9d5c;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}

/*FOOTER*/

footer {
    background-color: #88cdf6;
    color: #fff;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 15px;
    font-size: 1.4rem;
}

.footer-social a {
    color: #fff;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #0d6efd;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links a {
        display: block;
        margin: 8px 0;
    }

    .footer-social {
        justify-content: center;
    }
}